.container {
    width: 400px;
    height: 400px;
    padding: 50px 50px 50px 50px ;
    margin: auto;
    background-color: #F8F8FF;
    margin-top: auto;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serifs;
    font-weight: 100;
    
    
}

.register-access-title {
    display: block;
    font-size: 20px;
    color: grey;
    line-height: 1.2;
    text-align: center;
    
}

.register-access-title img {
    width: 90px;
}

.register-access-form {
    color: grey;
    padding: 10px;
    height: 200px;
    
}


.register-access-email {
    padding: 8px;
    height: 25px;
    width: 300px;
    display: flex;
    border-radius: 8px;
    border:#F8F8FF; 
}
.register-access-password {
    padding: 8px;
    height: 25px;
    width: 300px;
    display: flex;
    border-radius: 8px;
    border:#F8F8FF; 
}


.button-access {
    width: 120px;
    height: 30px;
    
    align-items: center;
    margin-left: 80px;
    border-radius: 10px;
    background-color: darkorange;
    border: #F8F8FF;
    color: #F8F8FF;
    font-family: Arial, Helvetica, sans-serif;
}

.txt {
    padding: 10px;
}

.txt2 {
    color: blueviolet;
}