.container-user {
    width: 400px;
    height: 600px;
    margin: auto;
    background-color: #F8F8FF;
    padding: 50px 50px 50px 50px;
    margin-top: auto;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serifs;
    font-weight: 100;
    
    
}

.register-user-title {
    display: block;
    font-size: 20px;
    color: grey;
    line-height: 1.2;
    text-align: center;
    
}

.register-user-title img {
    width: 90px;
}

.register-user-form {
    color: grey;
    padding: 10px;
    height: 200px;
    
}

.register-user-name {
    padding: 8px;
    height: 25px;
    width: 300px;
    display: flex;
    border-radius: 8px;
    border:#F8F8FF; 
}

.register-user-email {
    padding: 8px;
    height: 25px;
    width: 300px;
    display: flex;
    border-radius: 8px;
    border:#F8F8FF; 
}
.register-user-password {
    padding: 8px;
    height: 25px;
    width: 300px;
    display: flex;
    border-radius: 8px;
    border:#F8F8FF; 
    text-transform:unset;
}

.register-user-telefone {
    padding: 8px;
    height: 25px;
    width: 300px;
    display: flex;
    border-radius: 8px;
    border:#F8F8FF; 
}

.button-user {
    width: 120px;
    height: 30px;
    
    align-items: center;
    margin-left: 80px;
    border-radius: 10px;
    background-color: darkorange;
    border: #F8F8FF;
    color: #F8F8FF;
    font-family: Arial, Helvetica, sans-serif;
}

.details-count{
    padding: 20px;
    margin-right: 19px;
}

.enter-count{
    color: blueviolet;
}