* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.container-adview {
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    gap: 1.25em;
    margin-top: 2em;
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    
}

header img{
    width: 60px;
    height: 30px;
    
}

.products-adview {
    /*display: flex;*/
    flex-direction: row;
    align-items: center;
    background-color: #f6f6f6;
    
    border-radius: 8px;
    padding: 1px;
    margin: 10px;
}

.products-adview img {
  max-width: 100%;
  max-height: 280px;
  margin: 0px auto;
  display: block;
  
}

.dados-adview {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
}

.dados-adview span:first-child {
    padding:auto;
    font-size: 36px;
    font-weight: 400;
    color: #4a4a4a;
    height: 50px;
  }
  #middle {
    height: 50px;
    display: block;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.32;
    font-size: 22px;
    color: #4a4a4a;
  }

  .dados-adview span:last-child {
    display: block;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    
    line-height: 1.32;
    font-size: 15px;
    color: #4a4a4a;
    
  } 


  #descricao {
    display: block;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.32;
    font-size: 22px;
    color: #4a4a4a;
  }

  .button-adview {
    width: 150px;
    height: 40px;
    background-color: darkorange;
    color: white;
    border-radius: 100px;
    border-color: darkorange;
  }

  .adview-search {
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border-color: #D1D0CE;
  }